# This file will investigate the dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/classification_dataset/training_labels.csv")
df

              image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0      ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1      ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2      ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3      ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4      ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0
...             ...  ...  ...  ...    ...  ...  ...   ...
10010  ISIC_0034316  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10011  ISIC_0034317  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10012  ISIC_0034318  0.0  0.0  0.0    0.0  1.0  0.0   0.0
10013  ISIC_0034319  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10014  ISIC_0034320  0.0  1.0  0.0    0.0  0.0  0.0   0.0

[10015 rows x 8 columns]

In [4]:
df.sort_values(by=["image"])

              image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0      ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1      ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2      ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3      ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4      ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0
...             ...  ...  ...  ...    ...  ...  ...   ...
10010  ISIC_0034316  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10011  ISIC_0034317  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10012  ISIC_0034318  0.0  0.0  0.0    0.0  1.0  0.0   0.0
10013  ISIC_0034319  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10014  ISIC_0034320  0.0  1.0  0.0    0.0  0.0  0.0   0.0

[10015 rows x 8 columns]

In [5]:
each_category = df[["MEL","NV","BCC","AKIEC","BKL","DF","VASC"]].sum(axis=0)
each_category

MEL      1113.0
NV       6705.0
BCC       514.0
AKIEC     327.0
BKL      1099.0
DF        115.0
VASC      142.0
dtype: float64

In [6]:
all = each_category.sum(axis=0)
print(all)
weights = all/(each_category.to_numpy())

norm_weight = [float(i)/sum(weights) for i in weights]
norm_weight

10015.0

[0.03958191555403316,
 0.0065704208816761995,
 0.08570947862186559,
 0.13472376761969088,
 0.04008614377765142,
 0.383084104449034,
 0.31024416909604874]

In [7]:
# Down sampling some images
mel_class = df[df["MEL"]==1]
mel_class = mel_class.iloc[:115]

nv_class = df[df["NV"]==1]
nv_class = nv_class.iloc[:115]

bcc_class = df[df["BCC"]==1]
bcc_class = bcc_class.iloc[:115]

bkl_class = df[df["BKL"]==1]
bkl_class = bkl_class.iloc[:115]

vasc_class = df[df["VASC"]==1]
vasc_class = vasc_class.iloc[:115]

akiec_class = df[df["AKIEC"]==1]
akiec_class = akiec_class.iloc[:115]

df_class = df[df["DF"]==1]

down_sampled = pd.concat([mel_class, nv_class, bcc_class, bkl_class, vasc_class, akiec_class, df_class], ignore_index=True, sort=False)
down_sampled

            image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0    ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0
1    ISIC_0024313  1.0  0.0  0.0    0.0  0.0  0.0   0.0
2    ISIC_0024315  1.0  0.0  0.0    0.0  0.0  0.0   0.0
3    ISIC_0024323  1.0  0.0  0.0    0.0  0.0  0.0   0.0
4    ISIC_0024333  1.0  0.0  0.0    0.0  0.0  0.0   0.0
..            ...  ...  ...  ...    ...  ...  ...   ...
800  ISIC_0033847  0.0  0.0  0.0    0.0  0.0  1.0   0.0
801  ISIC_0033860  0.0  0.0  0.0    0.0  0.0  1.0   0.0
802  ISIC_0033891  0.0  0.0  0.0    0.0  0.0  1.0   0.0
803  ISIC_0034135  0.0  0.0  0.0    0.0  0.0  1.0   0.0
804  ISIC_0034169  0.0  0.0  0.0    0.0  0.0  1.0   0.0

[805 rows x 8 columns]

In [8]:
down_sampled.to_csv('./data/classification_dataset/downsampled_training_labels.csv', index=False)

In [18]:
# Up sampling some images
mel_class = pd.concat([df[df["MEL"]==1], df[df["MEL"]==1]])
mel_class = mel_class.iloc[:1500]

nv_class = df[df["NV"]==1]
nv_class = nv_class.iloc[:1500]

bcc_class = pd.concat([df[df["BCC"]==1], df[df["BCC"]==1],df[df["BCC"]==1]])
bcc_class = bcc_class.iloc[:1500]

bkl_class = pd.concat([df[df["BKL"]==1], df[df["BKL"]==1]])
bkl_class = bkl_class.iloc[:1500]

vasc_class = pd.concat([df[df["VASC"]==1], df[df["VASC"]==1],df[df["VASC"]==1],df[df["VASC"]==1],df[df["VASC"]==1],df[df["VASC"]==1],df[df["VASC"]==1],df[df["VASC"]==1],df[df["VASC"]==1],df[df["VASC"]==1]])
vasc_class = pd.concat([vasc_class, vasc_class])
vasc_class = vasc_class.iloc[:1500]

akiec_class = pd.concat([df[df["AKIEC"]==1], df[df["AKIEC"]==1],df[df["AKIEC"]==1],df[df["AKIEC"]==1]])
akiec_class = pd.concat([akiec_class, akiec_class,akiec_class])
akiec_class = akiec_class.iloc[:1500]

df_class = pd.concat([df[df["DF"]==1], df[df["DF"]==1],df[df["DF"]==1],df[df["DF"]==1],df[df["DF"]==1],df[df["DF"]==1],df[df["DF"]==1],df[df["DF"]==1],df[df["DF"]==1],df[df["DF"]==1]])
df_class = pd.concat([df_class, df_class])
df_class = df_class.iloc[:1500]

up_sampled = pd.concat([mel_class, nv_class, bcc_class, bkl_class, vasc_class, akiec_class, df_class], ignore_index=True, sort=False)
up_sampled

              image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0      ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0
1      ISIC_0024313  1.0  0.0  0.0    0.0  0.0  0.0   0.0
2      ISIC_0024315  1.0  0.0  0.0    0.0  0.0  0.0   0.0
3      ISIC_0024323  1.0  0.0  0.0    0.0  0.0  0.0   0.0
4      ISIC_0024333  1.0  0.0  0.0    0.0  0.0  0.0   0.0
...             ...  ...  ...  ...    ...  ...  ...   ...
10495  ISIC_0024318  0.0  0.0  0.0    0.0  0.0  1.0   0.0
10496  ISIC_0024330  0.0  0.0  0.0    0.0  0.0  1.0   0.0
10497  ISIC_0024386  0.0  0.0  0.0    0.0  0.0  1.0   0.0
10498  ISIC_0024396  0.0  0.0  0.0    0.0  0.0  1.0   0.0
10499  ISIC_0024553  0.0  0.0  0.0    0.0  0.0  1.0   0.0

[10500 rows x 8 columns]

In [10]:
up_sampled.to_csv('./data/classification_dataset/upsampled_training_labels.csv', index=False)